@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "../css/sb-admin-2.css";
@import "../css/datatables.min.css";
@import "../css/calendar.css";

@import 'bootstrap/scss/bootstrap';
@import 'variables';


/* Colors */
.color-light-blue {
    color: $logo-blue-color-light;
}
.color-mid-blue {
    color: $logo-blue-color-mid;
}
.color-dark-blue {
    color: $logo-blue-color-dark !important;
}
.color-grey {
    color: $logo-grey-color;
}

/* Bacground colors */
.bgcolor-light-blue {
    background-color: $logo-blue-color-light;
}
.bgcolor-mid-blue {
    background-color: $logo-blue-color-mid;
}
.bgcolor-dark-blue {
    background-color: $logo-blue-color-dark;
}

.bg-gradient-custom {
    background: linear-gradient(to bottom, $logo-blue-color-dark, $logo-blue-color-mid) !important;
    color: #fff;
}
.bg-login-image img {
    max-width: 80%;
}
.bg-login-image {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.admin-validation-error {
    background-color: red;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    color: white;
    padding: 16px 24px;
}
