.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-nav button {
    padding: 5px 10px;
    font-size: 14px;
}

h2 {
    margin: 0;
}
#calendar {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#calendar td {
    border: 1px solid #ccc !important;
    text-align: center;
    height: 60px;
    position: relative;
}

#calendar th {
    background-color: #f0f0f0;
    border: 1px solid #ccc !important;
    text-align: center;
    height: 60px;
    position: relative;
}

#calendar .event {
    position: absolute;
    background-color: #90cdf4;
    color: #000;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    top: 2px;
    left: 2px;
    right: 2px;
}

/*#calendar td:hover {
    background-color: #f8fafc;
    cursor: pointer;
}*/
.worksheet-entry {
    padding: 5px;
    transition: all 0.3s ease;
}
.worksheet-entry:hover {
    background-color: #f0f9ff;
    cursor: pointer;
}
#calendar th,
#calendar td {
    border: none; /* eltüntetjük az alap border-t */
}

#calendar th.today,
#calendar td.today {
    background-color: #fafafa;
    border: 2px solid #90be6d;
}

.calendar-header-label {
    margin-bottom: 0.25rem;
}
.calendar-header-label small {
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}
.calendar-header-label div:last-child {
    font-size: 0.85em;
    color: #555;
}
.calendar-select {
    width: 150px !important;
    font-size: 12px !important;
    padding: 5px !important;
}

@media only screen and (max-width: 600px) {
    #weekLabel {
        font-size: 10px;
    }
    .calendar-select {
        width: 100px !important;
        font-size: 12px !important;
        padding: 5px !important;
    }
}
